* {
    box-sizing: border-box;
}
body {
    position: relative;
    top: 25px;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    padding: 20px;
    background-color: #44753d25;
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 35px 0 35px 0; 
    text-align: center;
    background-color: #44753d;
}
header h1 {
    font-family: 'Arima', cursive;
    font-weight: 500;
    font-size: 3em;
    color: #fed018;
}
header h2 {
    font-family: 'Arima', cursive;
    font-weight: 300;
    font-size: 1.5em;
    color: #fed018;
}
header .fa-solid {
    opacity: .3;
    transition: rotate 3s;
}
header .fa-solid:hover {
    rotate: 180deg;
}
nav, footer {
    text-align: center;
    overflow: hidden;
    background-color: #fed01860;
    padding: 15px 0 15px 0;
}
nav * {
    display: inline;
    float: none;
    margin: 10px;
    text-decoration: none;
}
footer * {
    display: inline;
    float: none;
    margin: 10px;
    text-decoration: none;
}
.main {
    grid-area: 1 / 2 / 2 / 3; /*row start / column start / row end / column end */
}
.contact-grid {
    background-color: white;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
    gap: 10px;
}
textarea {
    font-family: inherit;
    padding: 5px;
    margin: .5em;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 5px;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}
.flex-item {
    display: flex;
    padding: 15px;
}
input {
    padding: 5px;
}
.flex-container fieldset {
    border: 0;
}