body {
    position: relative;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #4a5865;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    background-color: #72565545;
    padding: 25px;
}
h3, h4 {
    color: #cd890e;
}
nav, footer {
    text-align: center;
    overflow: hidden;
    background-color:#72565545;
    padding: 15px 15px;
}
nav * {
    display: inline;
    float: none;
    margin: 10px;
    text-decoration: none;
}
footer * {
    display: inline;
    float: none;
    margin: 10px;
    text-decoration: none;
}
img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
    height: auto;
    object-fit: contain;
    padding: 1%;
    background-color:#725655;
}
a {
    color: #9f3501;
    font-style: italic;
    text-decoration: none;
}
a:hover {
    color: #362e2c;
    text-decoration: none;
}
p, article, ol, ul {
    position: relative;
    max-width: 100%;
    line-height: 1.5;
}
article {
    font-style: italic;
}
figure {
    position: relative;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.flower-power {
    background-color: forestgreen;
}
.volunteer {
    background-color: #9f3501;
}
